<div class="container-fluid fixed-top" style="background-color: #8f8f8f">
    <div class="container px-0">
        <nav class="navbar navbar-light navbar-expand-xl">
            <a href="/Home" class="navbar-brand"><h1 class="text-primary display-6">Easy Rent Car</h1></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="/Home" class="nav-item nav-link customize-nav @((ViewContext.HttpContext.Request.Path == ("/")) || (ViewContext.HttpContext.Request.Path == ("/Home")) || (ViewContext.HttpContext.Request.Path == ("")) || (ViewContext.HttpContext.Request.Path.Contains("/Home/Index")) ? "active" : "")">Home</a>
                    <a href="/Car/Index" class="nav-item nav-link customize-nav @((ViewContext.HttpContext.Request.Path.Contains("Car")) ? "active" : "" ) ">Cars</a>
                    <a href="/Home/Contact" class="nav-item nav-link customize-nav @(ViewContext.HttpContext.Request.Path == "/Home/Contact" ? "active" : "")">Contact</a>
                </div>
                <div class="row">
                    @if (!User.Identity.IsAuthenticated)
                    {
                    <a href="/Security/Login" class="my-auto btn btn-primary" style="color: #FFFFFF;">
                        Login
                    </a>
                    }
                    else
                    {
                    <div class="col-lg-5 col-md-5 my-auto" style="color:#FFFFFF">Welcome @User.Identity.Name</div>

                    <div class="col-lg-5 col-md-5 my-auto">
                        <a href="@Url.Action("Create", "Car" )" class="btn btn-success col">Create New Car</a>
                    </div>

                    <div class="col-lg-2 col-md-2 my-auto">
                        <a href="/Security/Logout" class="my-auto btn btn-danger col" style="color: #FFFFFF;">
                            Logout
                        </a>
                    </div>


                    }
                </div>
            </div>
        </nav>
    </div>
</div>